*{
  box-sizing: border-box; /*поможет правильно считать ширину и высоту чтоб не чего не разъезжалось. Согласно спецификации CSS ширина блока складывается из ширины контента (width), значений отступов (margin), полей (padding) и границ (border). Аналогично обстоит и с высотой блока. Свойство box-sizing позволяет изменить этот алгоритм, чтобы свойства width и height задавали размеры не контента, а размеры блока.*/
}
body{
  font-family: 'Mulish', sans-serif;
  font-style: 16px;
  font-weight: 400px;
}
/* Header */
.header{
  display: flex; 
  align-items: center; /*будут центроваться объекты относительно верхней и нижней границы*/
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 70px;
  padding-left: 30px;
  margin-bottom: 30px;
  position: fixed; /* Свойство для фиксации шапки*/
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 99;/*Шапка всегда будет поверх видео*/
}
.menu-button{
  padding: 0;
  display: flex;
  flex-direction: column; /*задает направление флекc элементов: располагается вертикально и направлена сверху вниз*/
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}
.menu-line{
  display: block;
  width: 20px;
  height: 3px;
  background : #1F2022;
  border-radius: 30px;
}
.menu-logo{
  margin-right: 59px;
}
.group-input{
  max-width: 830px;
  width: 50%;
  background: #EBEBEB;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  margin-right: 40px;
}
.menu-search{
  background-color: transparent; /*  Фон прозрачный*/
  border: none;
  outline: none;/*Убират обвотку при наведении (печатании)*/
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 23px;
  padding-left: 23px;
  width: 100%; /*чтоб поиск занимал весь блок и не был обрубком*/
}
.button-search{
  padding: 0;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icon-search{
  fill: #000;/* Заливка svg изображения */
}
.group-icon{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.group-icons-link{
  text-decoration: none;
  opacity: 0.24;
}
.group-icons-link:hover{
  opacity: 0.7 ;
}
.group-icons-link:not(:last-child){ /*group-icons-link:not(:last-child) - обозначает что стиль будет применен ко всем иконкам с этим классом кроме последней иконки*/
  margin-right: 50px;
}
.user{
  margin-left: 45px;
}
.user-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* ------ */

/* Боковое меню */
.sidebar{
  position: fixed; /* Зафиксировали sidebar */
  width: 200px;
  left: 0;
  top: 114px; /* Отступ от верха страницы */
  height: calc(100% - 114px); /* Это свойство нужно для того чтоб система высчитывала высоту sidebar автоматически при изменении разрешении */
  overflow-y: auto; /* Если sidebar не помещается по высоте на всю станицу, то появляется ползунок */
  padding-left: 32px;
  background-color: #fff;
}
.menu-navigation{
  margin-bottom: 60px;
  margin-top: 0;
  padding-left: 0;
  list-style: none; /*Убираем точки у списка*/
}
 .navigation-item{ 
   margin-bottom: 28px;  
}
 .navigation-item .icon{
  fill: #898989; /*Цвет заливки иконок*/
}
.navigation-link{
  display: flex;
  align-items: center;
  color: #898989;
  text-decoration: none;
}
.navigation-link:hover{
  color: #FF0000;
}
.navigation-link:hover .icon{
  fill: #FF0000;
}
 .navigation-text{
   margin-left: 15px; 
}
 .navigation-image{
   width: 26px;
   height: 26px;
}
 .navigation-title{
   margin-bottom: 30px;
  font-weight: bold; /*Насыщенность цвета жирная, то же самое что и 700*/
  font-size: 18px;
  line-height: 23px;
}
 .setting{
   padding-top: 30px;
}
/* ------ */

/* Контент */
.content{
  width: 100%;
  height: 500px;
  margin-top: 85px; /* Чтоб контент не наезжал на шапку, отодвигаем контент с верху вниз */
  padding-left: 250px; /* Чтоб контент не наезжал на seadbar, отодвигаем его на ширину seadbar */
  padding-top: 28px;
  padding-right: 70px;
}
.channel{
  position: relative;/*Это свойсво нужно чтоб навигационные кнопки были выравнены относительно всего нашего блока с каналом*/
  margin-bottom: 49px;
}
.channel-title{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202C;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;/*Оттолкнули от автора канала наш слайдер*/
}
.channel-avatar{
  width: 50px;
  height: 50px;
}
.channel-text{
  margin-left: 20px;
}
/* ------ */

/* Слайдер-1 */
.video-thumb{
  width: 100%;
  height: 180px;
  overflow: hidden; /*Свойство overflow управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров. hidden - Отображается только область внутри элемента, остальное будет скрыто.*/
  border-radius: 14px;
  position: relative;
}
.thumbnail{
  width: 100%;
  height: 180px;
  object-fit: cover; /*Заполняет контейнер относительно его высоты и ширины. Смещаемый контент меняет свой размер таким образом, чтобы сохранять свои пропорции при заполнении блока: окончательный размер контента будет определён как "покрытие" блока, ограничиваясь его шириной и высотой.*/
}
.video-duration{
  position: absolute; 
  bottom: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.3);
  mix-blend-mode: normal;
  opacity: 0.9;
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color:#fff;
  padding: 3px 9px;
}
.video-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202C;
  margin-top: 10px;
  margin-bottom: 4px;
}
.video-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #C2C2C2;
}
.video-views{
  margin-right: 5px;
}
.video-caunter{
  display: flex;
  align-items: center; 
}
.video-views::after{ /*создаем псевдоэлемент с помощью css. Это как раз и будет наша точка между количеством просмотров и датой публикации*/
  content: '';
  width: 2px;
  height: 2px;
  background-color: #C2C2C2;
  display: inline-block;
  vertical-align: middle;/* Свойство CSS  vertical-align описывает вертикальное позиционирование строчных (inline), строчно-блочных (inline-block) элементов или ячеек таблицы (table-cell). middel - по середине*/
  margin-left: 5px;
}
.channel-button{/*Кнопки навигации*/
  cursor: pointer;
}
.slider-buttons{
  position: absolute;
  right: 1%;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}
/* ------ */

/* Слайдер-2 (Recommended) */
.video-thumb-recommended{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 230px;
  overflow: hidden; /*Свойство overflow управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров. hidden - Отображается только область внутри элемента, остальное будет скрыто.*/
  border-radius: 14px;
  position: relative;
}
.thumbnail-recommended{
  width: 100%;
  height: 230px;
  object-fit: cover; /*Заполняет контейнер относительно его высоты и ширины. Смещаемый контент меняет свой размер таким образом, чтобы сохранять свои пропорции при заполнении блока: окончательный размер контента будет определён как "покрытие" блока, ограничиваясь его шириной и высотой.*/
}
/* ------ */

/* Слайдер-3 */
.button{
  position: absolute;
  right: 19%;
  top: 11px;
  width: 154px;
  height: 40px;
  background: #FF0000;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.slider-subscribe{
  text-align: center;
  color: #FFFFFF;
}
/* ------ */

.mobile-sidebar{
  display: none;
}
.mobile-search{
  display: none;
}

@media (max-width: 860px){
  .group-icon{
    display: none;
  }
  .user{
    margin-right: auto;
  }
}
@media (max-width: 640px){
  .swiper-wrapper{/* При разрешении экрана <= 640 слайдер не будет и все ролики просто будет выстроены в колонку для прокрутки*/
    display: flex;
    flex-direction: column;/* Слайдер будет в колонку*/
  }
  .swiper-slide{
    margin-bottom: 40px;/*Расстояние между слайдерами*/
  }
  .slider-buttons{
    display: none; 
  }
  .thumbnail{
    height: 300px;/*Высота самого слайдера*/
  }
  .video-thumb{
    height: 300px;/*Высота от начала слайдера до названия*/
  }
  .mobile-search{
    display: block; 
    margin-left: auto;
  }
  .group-input{
    position: fixed;
    top: -100px;
    left: 0;
    opacity: 0;
    width: 77%;
    margin-left: 25px;
    transition: top 0.2s; /* При нажатии на поиск будет выкатываться с верху плавно*/
  }
  .group-input.is-open{
    opacity: 1;
    top: 19px;
    }
  .user{
    margin-left: 24px;
    margin-right: 0;
  }
  .menu-button{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .content{
    padding-left: 26px;
    padding-right: 26px;
  }
  .header{
    padding-right: 39px;
    padding-left: 28px;
  }
  .mobile-sidebar{
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  .mobile-sidebar .navigation-link{
    display: flex;
    flex-direction: column;
  }
  .mobile-sidebar .menu-navigation {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding-top: 13px;
    padding-bottom: 11px;
    border-top: 1px solid#f1f1f1;
  }
  .navigation-text{
    margin-left: 0; 
    font-size: 10px;
    line-height: 13px;
  }
  .navigation-item{
    margin-bottom: 0;
  }
  .button{
    right: 0;
}
